body{
    background-color: white;
}

a{
    color: black;
}

#aIndex{
    border-top: 3px solid black;
    border-left: none;
    border-right: 3px solid black;
    border-bottom: none;
    background-color: transparent;
}