#aOmMig{
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: none;
    background-color: rgb(191, 63, 63);
}

main{
    padding-top: 2vw;
    padding-bottom: 4vw;
}

/* .grid2-1{
    margin-top: 0;
} */

.grid2-1 img{
    /* margin-top: 9vw; */
    max-height: 100%;
    justify-self: center;
    border-radius: 2vw;
}

.grid2-1 h2{
    text-align: center;
    font-size: 3vw;
}

p{
    text-align: left;
}

.secIntro{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 2vw;
    padding-top: 1vw;
    backdrop-filter: blur(10px) grayscale(1);
}

/* *{
    border: solid black 1px;
} */