#aPortfolio{
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: none;
    background-color: transparent;
}

/* #portfGrid{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-left: 3vw;
    margin-right: 3vw;
}

#portfGrid a{
    font-size: 200%;
    text-align: center;
    justify-self: center;
    margin-top: 1.5vw;
    background-color: rgb(191, 63, 63);
    width: 30vw;
    height: 19vw;
    padding-top: 1vw;
    border-radius: 3vw 3vw 0.5vw 0.5vw;
} */

#portfGrid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-right: 3vw;
    margin-left: 3vw;
}

#portfGrid a{
    justify-self: center;
    text-align: center;
    width: 15vw;
    height: 30vw;
    background-color: red;
    border: solid black 3px;
}

#portfGrid a:hover{
    /* scale: 102%; */
    scale: 140% 110%;
    box-shadow: 1px 1px 3px rgba(72, 38, 78, 0.3);
}